build
.vs
*.VC.*
*.vcxproj.user
ipch
x64
.Rhistory
.Rproj.user
*.obj
*.exe
*.tlog
*.lib
*.pdb
*.vcxproj
*.filters
CMakeCache.txt
*.bin
Output/RecordLib/RecordLib.dir/Debug/RecordLib.Build.CppClean.log
Output/RecordLib/CMakeFiles/generate.stamp.depend
Output/RecordLib/CMakeFiles/generate.stamp
Output/RecordLib/cmake_install.cmake
Output/Python/Python_AlteryxYXDB.dir/Debug/Python_AlteryxYXDB.log
Output/Python/Python_AlteryxYXDB.dir/Debug/Python_AlteryxYXDB.Build.CppClean.log
Output/Python/CMakeFiles/generate.stamp.depend
Output/Python/CMakeFiles/generate.stamp
Output/Python/cmake_install.cmake
Output/Node.js/NodeJS_AlteryxYXDB.dir/Debug/NodeJS_AlteryxYXDB.vcxprojResolveAssemblyReference.cache
Output/RecordLib/RecordLib.dir/Debug/RecordLib.log
Output/Node.js/CMakeFiles/generate.stamp.depend
Output/Node.js/CMakeFiles/generate.stamp
Output/Node.js/cmake_install.cmake
Output/liblzf-3.6/liblzf-3.6.dir/Debug/liblzf-3.6.log
Output/liblzf-3.6/liblzf-3.6.dir/Debug/liblzf-3.6.Build.CppClean.log
Output/liblzf-3.6/CMakeFiles/generate.stamp.depend
Output/liblzf-3.6/CMakeFiles/generate.stamp
Output/liblzf-3.6/cmake_install.cmake
*.vcxproj
*.sln
